.icon-nav{
    height:200px;
    width:200px;
}

.jumbotron{
    background-color:rgb(12, 61, 151);
}

footer{
    background-color:rgb(184, 65, 65);
    margin-top:25px;
}

.rectangle{
    background-color:rgb(227, 236, 185);
    width:350px;
    height:400px;
    padding-bottom:5px;
    font-size:11px;
    font-family:Georgia;
}

body{
    background-color:rgb(43, 38, 38);
}

p{
    color:white;
}

h3{
    color:white;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: rgb(183, 113, 248);
    border-radius: 50%;
    margin-left:100px;
}

#profile-circle{
    width: 200px;
    height: 200px;
    background-color: rgb(183, 113, 248);
    border-radius: 50%;
}

h6{
    color:white;
    margin-left:135px;
}

#search-poem{
    color:rgb(227, 236, 185);
    transition: width 1.5s ease-in-out, height 1.5s ease-in-out;
    filter:blur(5px)
}

#search-poem:hover{
    color:black;
    width:370px;
    height:420px;
    filter:blur(0px)
}

h5{
    color:rgb(255, 236, 194);
}

a{
    color:black;
}

.search-group {
    text-align: center;
    margin-bottom: 20px;
}

.search-username{
    color:blanchedalmond;
    text-decoration: underline;
}

.search-group{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0;
    padding: 20px;
}

#nav-gray{
    filter:invert(100%);
}

.home-circle{
    width: 50px;
    height: 50px;
    background-color: rgb(183, 113, 248);
    border-radius: 50%;
}

.ex-comment{
    color:white;
}

h2{
    color:white;
}

#add-rec{
    
}